<ArcticHeaderButtons  *ngIf="theme == 'Arctic'"
	[MODULE_NAME]     ="MODULE_NAME"
	[MODULE_TITLE]    ="MODULE_TITLE"
	[SUB_TITLE]       ="SUB_TITLE"
	[ID]              ="ID"
	[LINK_NAME]       ="LINK_NAME"
	[showRequired]    ="showRequired"
	[enableFavorites] ="enableFavorites"
	[enableHelp]      ="enableHelp"
	[helpName]        ="helpName"
	[error]           ="error"
	[ButtonStyle]     ="ButtonStyle"
	[FrameStyle]      ="FrameStyle"
	[ContentStyle]    ="ContentStyle"
	[VIEW_NAME]       ="VIEW_NAME"
	[row]             ="row"
	(Page_Command)    ="_onPage_Command($event)"
	[buttonLinkObserved]="onButtonLink.observed"
	(onButtonLink)    ="_onButtonLink($event)"
	[showButtons]     ="showButtons"
	[showProcess]     ="showProcess"
	[hideTitle]       ="hideTitle"
></ArcticHeaderButtons>
<PacificHeaderButtons *ngIf="theme == 'Pacific'"
	[MODULE_NAME]     ="MODULE_NAME"
	[MODULE_TITLE]    ="MODULE_TITLE"
	[SUB_TITLE]       ="SUB_TITLE"
	[ID]              ="ID"
	[LINK_NAME]       ="LINK_NAME"
	[showRequired]    ="showRequired"
	[enableFavorites] ="enableFavorites"
	[enableHelp]      ="enableHelp"
	[helpName]        ="helpName"
	[error]           ="error"
	[ButtonStyle]     ="ButtonStyle"
	[FrameStyle]      ="FrameStyle"
	[ContentStyle]    ="ContentStyle"
	[VIEW_NAME]       ="VIEW_NAME"
	[row]             ="row"
	(Page_Command)    ="_onPage_Command($event)"
	[buttonLinkObserved]="onButtonLink.observed"
	(onButtonLink)    ="_onButtonLink($event)"
	[showButtons]     ="showButtons"
	[showProcess]     ="showProcess"
	[hideTitle]       ="hideTitle"
></PacificHeaderButtons>
