body
{
	background-color: white;
}
.app
{
	background-color: #e9ecef;
}
.table
{
	margin-bottom: 0;
}
#topnav
{
	padding: 0;
	.dropdown-toggle::after
	{
		display: none;
	}
	.navbar-brand
	{
		padding: 0;
		img
		{
			height: 3rem;
		}
	}
	.navbar-nav
	{
		margin-left: 0 !important;
	}
	.dropdown-menu
	{
		top: 95%;
	}
	a
	{
		text-decoration: none;
	}
}
.autocomplete
{
	.dropdown-menu
	{
		right: 0;
	}
}
.react-bootstrap-table table
{
	table-layout: auto;
}
.breadcrumb
{
	margin-bottom: 0;
	font-size: 1.5rem;
}
.breadcrumb-item
{
	a:link, a:visited
	{
		text-decoration: none;
	}
	a:hover
	{
		text-decoration: underline;
	}
}
/* 05/17/2019 Paul.  Remove padding around user picture. */
.userContextMenu
{
	a
	{
		padding: 0;
	}
}
/* 07/07/2019 Paul.  The checkboxes on SplendidGrid are too small. */
.react-bootstrap-table th > .selection-input-4,
.react-bootstrap-table td > .selection-input-4
{
	transform: scale(1.5);
	vertical-align: text-top;
	margin: 4px;
}

/* https://www.w3schools.com/css/css_tooltip.asp */
.reactTooltip
{
	position: relative;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}

.reactTooltip .reactTooltipText
{
	visibility: hidden;
	width: 120px;
	background-color: #ffffcc;
	border: 1px solid #999999;
	color: black;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
}

.reactTooltip:hover .reactTooltipText
{
	visibility: visible;
}

.hoverTooltip
{
	position: relative;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}

/* 06/20/2022 Paul.  Specify right and top to better position popover. */
.hoverTooltip .hoverTooltipText
{
	visibility: hidden;
	position: absolute;
	right: -50px;
	top: 12px;
	z-index: 1;
}

.hoverTooltip:hover .hoverTooltipText
{
	visibility: visible;
}

.fc-day-grid-event .fc-content
{
	white-space: normal;
}
.fix-checkbox, .ms-Checkbox-label, ms-Checkbox-checkbox, ms-Label
{
	display: inline;
}
.grab
{
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

/* 09/07/2019 Paul. bootstrap sets the line height, which messes with Six theme. */
body
{
	line-height: 1;
}

/* 09/16/2019 Paul.  Correct problem with NavDropdown. */
#topnav .dropdown-menu
{
	left: unset;
}
/* 09/19/2019 Paul.  Remove gentelella width for React Client.  */
textarea
{
	width: 100%;
}
/* 09/19/2019 Paul.  Remove gentelella styles.  */
/* 11/05/2020 Paul.  font-size: unset seems to make the buttons too small. */
.button
{
	background: unset;
	filter: unset;
	box-shadow: unset;
	border-radius: unset;
	border-top: unset;
	padding: 2px 6px;
}
/* 09/20/2019 Paul.  Remove gentelella styles.  */
td span
{
	line-height: unset;
}
/* 12/09/2019 Paul.  Don't like spacing below menu dropdown. */
.nav-link
{
	padding-bottom: .25em;
}
/* 12/09/2019 Paul.  Don't like NavItem down arrow. */
.dropdown-toggle:after
{
	content: none;
}
/* 12/11/2019 Paul.  Remove bold setting. */
label
{
	font-weight: unset;
	margin-bottom: unset;
}

.teamTreeItem
{
	padding: 6px 5px;
	color: #444444;
	white-space: nowrap;
}
.teamTreeItem a:link, .teamTreeItem a:visited
{
	border-left: 1px solid #cccccc;
	text-decoration: none;
}

.reportTreeItem
{
	font-size: 12px;
	line-height: 16px;
	white-space: nowrap;
}
.reportTreeItem
{
	border-left: 1px solid #cccccc;
	text-decoration: none;
}
.reportTreeItem:hover
{
	text-decoration: underline;
}

.tree-view
{
	overflow-x: hidden;
}
.tree-view_arrow
{
	transform: scale(2);
}
.tree-view_arrow-collapsed
{
	transform: scale(2) rotate(-90deg);
}
/* 01/24/2020 Paul.  Don't like the spacing around dashlet header. */
.card-body
{
	flex: 0 1 auto;
	padding-top: .25rem;
	padding-right: .5rem;
	padding-bottom: 0rem;
	padding-left: .5rem;
}
hr
{
	margin-top: .25rem;
	margin-bottom: .5rem;
}
/* 03/31/2020 Paul.  Don't like bootstrap settings. */
pre
{
	font-size: unset;
	color: unset;
}

.ReportDesignerTable
{
	font-size: 12px;
	line-height: 16px;
	font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;
	cursor: pointer;
}
.ReportDesignerTableSelected
{
	padding-top: 0px;
	background-color: #FFE6B0;
	color: black;
	border: 1px #FFB951 solid;
	opacity: 0.8;
}
/* 10/10/2020 Paul.  Not sure why it works on desktop but not android. */
/* 04/27/2021 Paul.  Remove .LoginActionsInnerTable .dataLabel */
/* 10/28/2020 Paul.  6px is too much padding for the bootstrap table.  Decrease to 2px. */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td
{
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 2px;
	padding-bottom: 0px;
}
/* 10/31/2020 Paul.  We don't like the blue background of a FullCalendar event. */
.fc-event, .fc-event:hover
{
	color: black;
	font-size: 10pt;
	background-color: unset;
	border: unset;
	line-height: unset;
}

.hiddenHoverItem
{
	display: none;
}

.hiddenHoverContainer:hover .hiddenHoverItem
{
	display: block;
}

