<!DOCTYPE html>
<html lang="en">
<head>
	<title>SplendidCRM</title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *; img-src * 'self' data: blob: https:; font-src * 'self' data:" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<link rel="shortcut icon" href="favicon.ico" type="image/ico" />

	<link rel="stylesheet" href="index.scss" />
</head>

<body>
	<div id="root" style="height: 100%"></div>

	<script src="cordova.js"></script>

	<script src="SteviaCRM.js"></script>
</body>
</html>
