<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SplendidProvider" value="System.Data.SqlClient" />
		<add key="SplendidSQLServer" value="data source=(local)\SplendidCRM;initial catalog=SplendidCRM;persist security info=True;packet size=4096;user id=sa;password=splendidcrm2005" />
		<add key="aspnet:MaxHttpCollectionKeys" value="5000" />
		<!--
		// 09/16/2013 Paul.  Specifies how asynchronous code paths in ASP.NET 4.5 behave.
		// If this key value is set to false [default], asynchronous code paths in ASP.NET 4.5 behave as they did in ASP.NET 4.0. 
		// If this key value is set to true, ASP.NET 4.5 uses code paths that are optimized for Task-returning APIs. 
		// Setting this compatibility switch is mandatory for WebSockets-enabled applications, for using Task-based asynchrony in Web Forms pages, 
		// and for certain other asynchronous behaviors. 
		-->
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<!--
		// 09/24/2020 Paul.  Using .NET 4.5 or higher causes an error.  Disable on pages generating the error and possibly web.config. 
		// WebForms UnobtrusiveValidationMode requires a ScriptResourceMapping for 'jquery'. Please add a ScriptResourceMapping named jquery(case-sensitive).
		-->
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<system.web>
		<!--  DYNAMIC DEBUG COMPILATION
			Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
			false will improve runtime performance of this application. 
			Set compilation debug="true" to insert debugging symbols (.pdb information)
			into the compiled page. Because this creates a larger file that executes
			more slowly, you should set this value to true only when debugging and to
			false at all other times. For more information, refer to the documentation about
			debugging ASP.NET files.
			// 09/29/2013 Paul.  Remove the targetFramework attribute so that we can develop on both v4.0 and v4.5 systems. 
			// The targetFramework should default to the value specified in the application pool. 
			// 06/29/2014 Paul.  batch=false allows the app to startup faster. 
		-->
		<compilation defaultLanguage="c#" debug="false" batch="false" />

		<!--  CUSTOM ERROR MESSAGES
			Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
			Add <error> tags for each of the errors you want to handle.

			"On" Always display custom (friendly) messages.
			"Off" Always display detailed ASP.NET error information.
			"RemoteOnly" Display custom (friendly) messages only to users not running 
			on the local Web server. This setting is recommended for security purposes, so 
			that you do not display application detail information to remote clients.

			09/26/2010 Paul.  Hide the actual server error due to Microsoft Security Advisory (2416728). 
			http://www.microsoft.com/technet/security/advisory/2416728.mspx
			01/01/2011 Paul.  Restore the original error messages.  Expect the users to have applied the appropriate service packs. 
			01/31/2011 Paul.  The Microsoft Web Gallary team requires the use of custom errors. 
		-->
		<customErrors mode="Off" defaultRedirect="~/Home/ServerError.aspx" />

		<!--  AUTHENTICATION 
			This section sets the authentication policies of the application. Possible modes are "Windows", 
			"Forms", "Passport" and "None"

			"None" No authentication is performed. 
			"Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
			its settings for the application. Anonymous access must be disabled in IIS. 
			"Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
			you authenticate them in your application. A user credential token is stored in a cookie.
			"Passport" Authentication is performed via a centralized authentication service provided
			by Microsoft that offers a single logon and core profile services for member sites.
		-->
		<authentication mode="Windows" /> 

		<!--  AUTHORIZATION 
			This section sets the authorization policies of the application. You can allow or deny access
			to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
			(unauthenticated) users.
		-->

		<authorization>
			<allow users="*" /> <!-- Allow all users -->
				<!--  <allow     users="[comma separated list of users]"
								roles="[comma separated list of roles]"/>
					<deny      users="[comma separated list of users]"
								roles="[comma separated list of roles]"/>
				-->
		</authorization>

		<!--  APPLICATION-LEVEL TRACE LOGGING
			Application-level tracing enables trace log output for every page within an application. 
			Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
			trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
			application trace log by browsing the "trace.axd" page from your web application
			root. 
		-->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />

		<!--  SESSION STATE SETTINGS
			By default ASP.NET uses cookies to identify which requests belong to a particular session. 
			If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
			To disable cookies, set sessionState cookieless="true".
			mode="Off"
			mode="InProc"
			mode="StateServer"
			mode="SQLServer"
		-->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />

		<!--  GLOBALIZATION
			This section sets the globalization settings of the application. 
		-->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<!-- System.Web.HttpException: Maximum request length exceeded.
			Increase to 100M.
		-->
		<!-- 06/12/2008 Paul.  Add executionTimeout (seconds) so that it will be easier to increase. -->
		<!-- 09/21/2020 Paul.  Websockets require the targetFramework=4.5 or higher. Currently compiling with 4.8. -->
		<httpRuntime maxRequestLength="104857600" executionTimeout="600" requestValidationMode="2.0" targetFramework="4.8" />
		<!-- 07/17/2006 Paul.  Disable Event Validation as it is causing a problem in the Configure Tabs area. (A .NET 2.0 issue) -->
		<!-- 07/07/2007 Paul.  Disable Request Validation is it is causing more problems with the use of HTML in description fields. -->
		<!-- 02/20/2008 Paul.  Add the namespace so that it will compile. -->
		<pages enableSessionState="true" enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<!-- 06/25/2007 Paul.  Add SplendidCRM controls here to ease the transition to Web Site style of project. -->
				<add tagPrefix="SplendidCRM" namespace="SplendidCRM" assembly="SplendidCRM" />
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
			</controls>
			<namespaces>
				<add namespace="SplendidCRM" />
			</namespaces>
		</pages>
	</system.web>
	<!-- 10/03/2009 Paul.  Add entries for IIS7 Integrated Pipeline. -->
	<!-- 10/03/2013 Paul.  Hard-code the version for SystemWeb.Extensions now that we are using the standard .NET 4.0 version. -->
	<system.webServer>
		<handlers>
			<add name="ScriptResource" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
			<add name="ScriptHandlerFactoryAppServices" path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
			<add name="ScriptHandlerFactory" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<security>
			<requestFiltering>
				<!-- http://stackoverflow.com/questions/288612/how-to-increase-the-max-upload-file-size-in-asp-net -->
				<requestLimits maxAllowedContentLength="104857600" />
			</requestFiltering>
		</security>
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
		<bindings>
			<webHttpBinding>
				<!-- 08/30/2014 Paul.  Render Entity Too Large (413). -->
				<!-- http://stackoverflow.com/questions/10122957/iis7-413-request-entity-too-large-uploadreadaheadsize -->
				<binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" />
			</webHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>
